.comment-dialog {
    form {
        background-color: oColorsGetPaletteColor(white);
    }

    fieldset {
        margin-bottom: 15px;
        border: 0;

        legend {
            font-weight: bold;
            padding: 0;
            margin: 0 0 5px 0;
            color: oColorsGetPaletteColor(grey-tint4);
        }
    }

    label {
        text-align: left;
        margin-bottom: 10px;
        display: block;
    }

    label.inline {
        float: left;
        width: 30%;
        margin-bottom: 0;
    }

    input {
        vertical-align: middle;
    }

    input.text,
    input.password,
    textarea,
    select {
        display: block;
        margin-bottom: 6px;
        border: 1px solid oColorsGetPaletteColor(pink-tint4);
        width: 390px;
        padding: 3px 6px;
    }

    select {
        padding: 0;
    }

    input.text.inline,
    input.password.inline,
    textarea.inline,
    select.inline {
        float: left;
        width: 60%;
    }

    input.checkbox,
    input.radio {
        margin: 0 5px 0 0;
        padding: 0;
    }
}