.comments-dialog {
    .comments-explanation {
        display: table;
        position: relative;
        margin: 10px 0 10px #{-$commentsDialogSidePadding};
        width: $commentsDialogWidth - 2*$commentsDialogSideMargin;
        height: 138px;

        .comments-explanation-text-container {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            width: 100%;

            .comments-explanation-text-bg {
                background: #F8F8F8;

                .comments-explanation-text {
                    width: 220px;
                    padding: 10px 0 10px 25px;
                }
            }
        }

        .comments-explanation-image-wrapper {
            display: table-cell;
            vertical-align: middle;
            position: absolute;
            right: 25px;
            top: 0;
            height: 100%;

            .comments-explanation-image-container {
                display: table;
                vertical-align: middle;
                height: 100%;

                .comments-explanation-image-innerContainer {
                    display: table-cell;
                    vertical-align: middle;

                    .comments-explanation-image {
                        display: inline-block;
                        width: 138px;
                        height: 138px;
                        vertical-align: middle;
                    }

                    .comments-explanation-follow {
                        background: url(oAssetsResolve("src/images/comment_magnifier_follow.png", comment-ui)) no-repeat;
                    }

                    .comments-explanation-settings {
                        background: url(oAssetsResolve("src/images/comment_magnifier_settings.png", comment-ui)) no-repeat;
                    }
                }
            }
        }
    }
}