.comment-settings {
    display: inline-block;
    margin-left: 10px;
    color: oColorsGetPaletteColor(pink-tint3);

    .comment-settings-text {
        padding-left: 10px;
        color: oColorsGetPaletteColor(blue);
        cursor: pointer;
        display: inline-block;
    }

    .comment-settings-icon {
        background: url(oAssetsResolve("src/images/comment_commenting_settings.png", comment-ui)) no-repeat;
        display: inline-block;
        width: 14px;
        height: 14px;
        vertical-align: text-top;
    }
}
