.o-comment-ui--settings {
	display: inline-block;
	margin-left: 10px;
	color: oColorsGetPaletteColor("black-20");

	.o-comment-ui--settings-text {
		padding-left: 10px;
		color: oColorsGetPaletteColor("oxford");
		cursor: pointer;
		display: inline-block;
	}

	.o-comment-ui--settings-icon {
		@include oIconsGetIcon('settings', oColorsGetPaletteColor('oxford'), 25, $iconset-version: 1);
		vertical-align: bottom;
	}
}
