.o-comment-ui--settings {
	display: inline-block;
	margin-left: 10px;
	color: oColorsGetPaletteColor("pink-tint3");

	.o-comment-ui--settings-text {
		padding-left: 10px;
		color: oColorsGetPaletteColor("blue");
		cursor: pointer;
		display: inline-block;
		vertical-align: bottom; // aligns the gear icon
	}

	.o-comment-ui--settings-icon {
		@include oIconsGetIcon('settings', oColorsGetPaletteColor('blue'), 32);
	}

	i {
		font-size: 14px;
		vertical-align: bottom;
	}
}
