$commentsDialogWidth: 460px;
$commentsDialogSidePadding: 14px;
$commentsDialogSideMargin: 9px;

@import "./dialog_elements/container.scss";
@import "./dialog_elements/form_elements";
@import "./dialog_elements/image_explanation";